@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700');

.color-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.color-block__value {
  height: 100px;
  border-radius: 5px 5px 0 0;
}

.color-block__text {
  padding: 0.25rem;
  border: 1px solid #cecece;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.font-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.font-block__name {
  margin-bottom: 20px;
  font-size: 24px;
}

.font-block {
  margin-bottom: 1rem;
}
