<div class="font-blocks">
  <div class="font-block font-primary">
    <div class="font-block__name">Roboto</div>
    <div class="font-primary--light">The quick brown fox jumps over the lazy dog</div>
    <div class="font-primary">The quick brown fox jumps over the lazy dog</div>
    <div class="font-primary--bold">The quick brown fox jumps over the lazy dog</div>
  </div>
  <div class="font-block font-secondary">
    <div class="font-block__name">Roboto Slab</div>
    <div class="font-secondary--light">The quick brown fox jumps over the lazy dog</div>
    <div class="font-block--sample">The quick brown fox jumps over the lazy dog</div>
    <div class="font-secondary--bold">The quick brown fox jumps over the lazy dog</div>
  </div>
</div>
